<div>
    {{#each products}}
    <p>{{this.}}</p>
    <p>{{this.}}</p>
    <p>{{this.}}</p>
    <p>{{this.}}</p>
    <p>{{this.}}</p>
    <p>{{this.}}</p>
    <p>{{this.}}</p>
    <p>{{this.}}</p>
    <p>{{this.}}</p>




    {{/each}}    
</div>














